<div class="login" ng-controller="loginCtrl">
    <div class="header">
        <a href="javascript:;">&lt;</a>
        <h3>{{title}}</h3>
        <div class="toggle_menu"></div>
    </div>
    <div class="middle">
        <form action="#" class="login">
            <div class="user_wrap">
                <label>账号: <input type="text" name="user"></label>
                <i></i>
            </div>
            <div class="password_wrap">
                <label>密码: <input type="text" name="psw"></label>
                <i></i>
            </div>
            <button>登录</button>
            <div class="others">
                <a href="###">立即注册</a>
                <a href="###">忘记密码</a>
            </div>
        </form>
        <div class="third_party">
            <h4>第三方登录</h4>
            <div>
                <a href="###"><img src="img/login01.png" alt="img/login01.png"></a>
                <a href="###"><img src="img/login02.png" alt="img/login02.png"></a>
                <a href="###"><img src="img/login03.png" alt="img/login03.png"></a>
            </div>
        </div>

    </div>
</div>


