<div class="pay_failure">
    <div class="header">
        <a href="javascript:;">&lt;</a>
        <h3>支付失败</h3>
        <div class="toggle_menu"></div>
    </div>
    <div class="middle">
        <img src="img/pay_failure.png" alt="">
        <h4>支付失败</h4>
    </div>
    <div class="footer">
        <h5>支付方式</h5>
        <ul class="payment">
            <li class="current">
                <label><img src="img/pay06.png" alt=""><span>银行卡支付</span><input type="radio" name="payment" value="bank_card" checked><i><b>√</b></i></label>
            </li>
            <li>
                <label><img src="img/pay01.png" alt=""><span>银行卡支付</span><input type="radio" name="payment" value="bank_card" checked><i><b>√</b></i></label>
            </li>
            <li>
                <label><img src="img/pay02.png" alt=""><span>微信支付</span><input type="radio" name="payment" value="wechat"><i><b>√</b></i></label>
            </li>
            <li>
                <label><img src="img/pay05.png" alt=""><span>微信支付</span><input type="radio" name="payment" value="wechat"><i><b>√</b></i></label>
            </li>
            <li>
                <label><img src="img/pay03.png" alt=""><span>支付宝支付</span><input type="radio" name="payment" value="alipay"><i><b>√</b></i></label>
            </li>
            <li>
                <label><img src="img/pay04.png" alt=""><span>支付宝支付</span><input type="radio" name="payment" value="alipay"><i><b>√</b></i></label>
            </li>
        </ul>
        <div>
            <button>订单详情</button>
            <button>重新支付</button>
        </div>
    </div>
</div>