<div class="pro_categories">
    <div class="header">
        <div class="scan_icon">
            <img src="img/index01.png" alt="">
        </div>
        <div class="search">
            <input type="text" placeholder="请输入商品">
            <img src="img/index02.png" alt="">
        </div>
        <div class="toggle_menu"></div>
    </div>
    <div class="middle">
        <ul class="side_nav">
            <li>VR OEM</li>
            <li class="current">智能音箱</li>
            <li>智能手环</li>
            <li>智能手表</li>
            <li>智能拐杖</li>
        </ul>
        <div class="content">
            <div class="top_img">
                <img src="img/pro_categories01.png" alt="">
            </div>
            <div class="brand_wrap recommend">
                <h5>推荐品牌</h5>
                <ul class="pro_list">
                    <li>
                        <a href="###"><img src="img/pro_list03.png" alt=""></a>
                        <h6><a href="###">叮咚</a></h6>
                    </li>
                    <li>
                        <a href="###"><img src="img/pro_list12.png" alt=""></a>
                        <h6><a href="###">贝多芬</a></h6>
                    </li>
                    <li>
                        <a href="###"><img src="img/pro_list11.png" alt=""></a>
                        <h6><a href="###">皇兆</a></h6>
                    </li>
                    <li>
                        <a href="###"><img src="img/pro_list16.png" alt=""></a>
                        <h6><a href="###">海备思</a></h6>
                    </li>
                </ul>
            </div>
            <div class="brand_wrap hot">
                <h5>热门品牌</h5>
                <ul class="pro_list">
                    <li>
                        <a href="###"><img src="img/pro_categories02.png" alt=""></a>
                        <h6><a href="###">叮咚</a></h6>
                    </li>
                    <li>
                        <a href="###"><img src="img/pro_list13.png" alt=""></a>
                        <h6><a href="###">贝多芬</a></h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>