<div class="pro_search">
    <div class="header">
        <div class="back">&lt;</div>
        <div class="search">
            <input type="text" placeholder="输入要搜索的内容">
            <img src="img/index02.png" alt="">
        </div>
    </div>
    <div class="middle">
        <div class="hot_search search">
            <h5>热点搜索</h5>
            <span>音响</span>
            <span>手表</span>
            <span>手环</span>
            <span>VR</span>
            <span>儿童护眼仪</span>
        </div>
        <div class="history_search search">
            <h5>历史搜索</h5>
            <span>小鸟</span>
            <span>漫步者</span>
            <span>步步高</span>
            <span>贝恩斯</span>
            <span>索尼</span>
            <span>飞利浦</span>
            <span>若琪</span>
        </div>
        <div class="recommend_search search">
            <h5>推荐搜索</h5>
            <span>小鸟</span>
            <span>漫步者</span>
            <span>步步高</span>
            <span>贝恩斯</span>
            <span>索尼</span>
            <span>飞利浦</span>
            <span>若琪</span>
        </div>
    </div>
</div>