
<div ng-controller="registerCtrl" class="register">

    <div app-header></div>

    <div class="middle">
        <form action="#" name="registerInfo">
            <div class="wrap">
                <label for="username">用户名</label><input type="text" name="username" id="username">
                <p></p>
            </div>
            <div class="wrap">
                <label for="psw">密码</label><input type="text" name="psw" id="psw">
                <p></p>
            </div>
            <div class="wrap">
                <label for="confirm_psw">确认密码</label><input type="text" name="confirm_psw" id="confirm_psw">
                <p></p>
            </div>
            <div class="wrap">
                <label for="tel">手机</label><input type="text" name="tel" id="tel">
                <p></p>
            </div>
            <div class="validate_wrap">
                <label for="validate">验证码</label><input type="text" name="validate" id="validate"><i>√</i><span></span>
                <p></p>
            </div>
            <div class="subscribe">
                <label><input type="checkbox"><i><b>√</b></i><span>我已阅读并同意<a href="###">《恒必达商城用户注册协议》</a></span></label>
            </div>
            <button>立即注册</button>
        </form>
    </div>
</div>
