<div class="shop_cart">
    <div class="header">
        <a href="javascript:;">&lt;</a>
        <h3>我的购物车</h3>
        <div class="toggle_menu"></div>
    </div>
    <div class="middle">
        <ul class="shop_list">
            <li>
                <div class="check_wrap"><input type="checkbox"><span><b>√</b></span></div>
                <div class="pro_pic">
                    <a href="###"><img src="img/pro_list15.png" alt=""></a>
                </div>
                <div class="shop_info">
                    <h5><a href="###">ROKID Pebble若琪月石智能音箱wifi无线蓝牙迷你音响... </a></h5>
                    <div class="weight_wrap">重　量：<span>1.31kg</span></div>
                    <div class="color_wrap">颜 色： <span>黑色</span></div>
                    <div class="price_num">
                        <div class="price_tag">￥<span class="price">1399.00</span></div>
                        <div class="num_wrap">
                            <span class="minus">-</span>
                            <input type="number" value="1">
                            <span class="plus">+</span>
                        </div>
                        <div class="remove_wrap">
                            <img src="img/remove.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="check_wrap"><input type="checkbox"><span><b>√</b></span></div>
                <div class="pro_pic">
                    <a href="###"><img src="img/pro_list15.png" alt=""></a>
                </div>
                <div class="shop_info">
                    <h5><a href="###">ROKID Pebble若琪月石智能音箱wifi无线蓝牙迷你音响... </a></h5>
                    <div class="weight_wrap">重　量：<span>1.31kg</span></div>
                    <div class="color_wrap">颜 色： <span>黑色</span></div>
                    <div class="price_num">
                        <div class="price_tag">￥<span class="price">1399.00</span></div>
                        <div class="num_wrap">
                            <span class="minus">-</span>
                            <input type="number" value="1">
                            <span class="plus">+</span>
                        </div>
                        <div class="remove_wrap">
                            <img src="img/remove.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="check_wrap"><input type="checkbox"><span><b>√</b></span></div>
                <div class="pro_pic">
                    <a href="###"><img src="img/pro_list15.png" alt=""></a>
                </div>
                <div class="shop_info">
                    <h5><a href="###">ROKID Pebble若琪月石智能音箱wifi无线蓝牙迷你音响... </a></h5>
                    <div class="weight_wrap">重　量：<span>1.31kg</span></div>
                    <div class="color_wrap">颜 色： <span>黑色</span></div>
                    <div class="price_num">
                        <div class="price_tag">￥<span class="price">1399.00</span></div>
                        <div class="num_wrap">
                            <span class="minus">-</span>
                            <input type="number" value="1">
                            <span class="plus">+</span>
                        </div>
                        <div class="remove_wrap">
                            <img src="img/remove.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="check_wrap"><input type="checkbox"><span><b>√</b></span></div>
                <div class="pro_pic">
                    <a href="###"><img src="img/pro_list15.png" alt=""></a>
                </div>
                <div class="shop_info">
                    <h5><a href="###">ROKID Pebble若琪月石智能音箱wifi无线蓝牙迷你音响... </a></h5>
                    <div class="weight_wrap">重　量：<span>1.31kg</span></div>
                    <div class="color_wrap">颜 色： <span>黑色</span></div>
                    <div class="price_num">
                        <div class="price_tag">￥<span class="price">1399.00</span></div>
                        <div class="num_wrap">
                            <span class="minus">-</span>
                            <input type="number" value="1">
                            <span class="plus">+</span>
                        </div>
                        <div class="remove_wrap">
                            <img src="img/remove.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer">
        <div class="check_all_wrap">
            <label><input type="checkbox"><span><b>√</b></span><i>全选</i></label>
        </div>
        <div class="total_wrap">
            总价：<span class="total">￥5596.00</span>
        </div>
        <a href="javascript:;">去结算(<span class="total_num">4</span>)</a>
    </div>
</div>