<div class="user">
    <div class="header">
        <h3>个人中心</h3>
    </div>
    <div class="user_info">
        <div class="avatar">
            <img src="img/user01.png" alt="">
        </div>
        <div class="user_name">
            <h5>小灰兔</h5>
            <p>普通会员</p>
        </div>
    </div>
    <div class="middle">
        <div><a href="###"><img src="img/user03.png" alt=""><h5>购买记录</h5><span>&gt;</span></a></div>
        <div><a href="###"><img src="img/user04.png" alt=""><h5>修改个人资料</h5><span>&gt;</span></a></div>
        <div><a href="###"><img src="img/user05.png" alt=""><h5>修改密码</h5><span>&gt;</span></a></div>
        <div><a href="###"><img src="img/user06.png" alt=""><h5>地址管理</h5><span>&gt;</span></a></div>
        <div><a href="###"><img src="img/user07.png" alt=""><h5>我的关注</h5><span>&gt;</span></a></div>
        <div><a href="###"><img src="img/user08.png" alt=""><h5>我的订单</h5><span>&gt;</span></a></div>
    </div>


    <div class="footer">
        <ul class="navbar">
            <li>
                <a href="###">
                    <img src="img/index11.png" alt="">
                    <h6>首页</h6>
                </a>
            </li>
            <li>
                <a href="###">
                    <img src="img/index08.png" alt="">
                    <h6>菜单</h6>
                </a>
            </li>
            <li>
                <a href="###">
                    <img src="img/index09.png" alt="">
                    <h6>我的购物车</h6>
                </a>
            </li>
            <li class="current">
                <a href="###">
                    <img src="img/index14.png" alt="">
                    <h6>个人中心</h6>
                </a>
            </li>

        </ul>
    </div>
</div>